<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FDA | Anywhere</title>
    <link href="css/appstyles.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut" type="image/x-icon" href="./favicon.ico?" />
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico?" />
</head>

<body>
    <header role="banner">
<nav class="navbar navbar-default" id="app-header">
    <div class="container col-md-offset-1 col-md-10 ">
        <div class="navbar-header ">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a href="./#q" class="navbar-brand"><img src="img/fda-anywhere-logo-01.png" alt="FDA | Anywhere" width="250px" height="auto"></a> 
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="login-link" href="#">Login</a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
                <ul class="dropdown-menu pull-right" id="profile-list">
                    <li class="divider"></li>
                    <li><a href="#profile">Create a Profile</a></li>
                    <li><a href="#pmanage">Manage Profiles</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></a>
                <ul class="dropdown-menu pull-right">
                     <li><a href="#label">Search medication information</a></li>
                     <li><a href="#approved">Is this medication FDA approved?</a></li>
                     <li><a href="#recall">Has a medication been recalled?</a></li>
                  </ul>
              </li>
            </ul>
        </div>
    </div>
</nav>
</header>

    <!-- main content -->
    <main id="content" role="main">
        <section>
            <div id="container-main" class="container">
                <div class="full-width clearfix" id="full-width-container">
                </div>
                <div class="row" id="split-container">
                    
                    <!-- main content section -->
                    <div id="primary-content" class="col-xs-12 col-sm-offset-1 col-sm-6 col-md-offset-1 col-md-6 col-lg-offset-1 col-lg-6">
                    </div>
                    
                    <!-- right column -->
                    <div class="clearfix visible-xs-block"></div>
                    <aside class="col-xs-12  col-sm-4 col-md-4 col-lg-4">
                        <div id="action-buttons">
                            <a href="#profile" class="btn-cta" id="action-btn-profile"><i class="fa fa-double-angle-right"></i> Click here to enter your profile information</a>
                            <a href="#label" class="btn-cta" id="action-btn-label"><i class="fa fa-double-angle-right"></i>Can I take a medication?</a>
                            <a href="#recall" class="btn-cta" id="action-btn-recall"><i class="fa fa-double-angle-right"></i> Has a medication been recalled?</a>
                            <a href="#approved" class="btn-cta" id="action-btn-approved"><i class="fa fa-double-angle-right"></i> Has a medication been approved?</a>
                        </div>


                            <div id="map-module">Local health assistance</div>
                                <div class="module-item require-gps" style="display:none">
                                    <div class="module-content">
                                        <div class="map-ph"></div>
                                    </div>
                                </div>

                                <dl class="require-gps" style="display:none">
                                    <dt data-locType="pharmacy">Pharmacies</dt>
                                    <dd class="pharmacy"></dd>
                                    <dt data-locType="hospital">Hospitals / Clinics</dt>
                                    <dd class="hospital"></dd>
                                    <dt data-locType="embassy">U.S. Embassy / Consulates</dt>
                                    <dd class="embassy"></dd>
                                </dl>
                            </div>
                    </aside>
                </div>
                
            </div>
            
            
            
            
            <!--
            <div id="container-main" class="container">
                <div  id="intro" class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10"></div>
                <div class="row clearfix">

				
                </div>
				
            </div> -->
        </section>
    </main> <!-- /main-content -->

    <!-- templates -->
    <script type="text/template" id="landing-content-template">
        <!-- landing page -->
        <div class="landing-page col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <h1>Welcome to FDA Anywhere</h1>
            <p>FDA Anywhere: your authoritative resource for the medication information you need to make smart decisions for your family while traveling.</p>
            <ul>
            <li> Learn about drug indications, adverse effects, appropriate dosing or any warnings</li>
            <li> Personalize your experience with a medicine profile</li>
            <li> Check medications for FDA approval</li>
            <li> See medication recalls</li>
            </ul>
            <p>Travel smart with FDA Anywhere.</p>
            <div class="landing-actions">
                <a href="#" class="diglogin">Log-In</a>
                <a href="#q">Continue as guest</a>
            </div>
            <p id="login-success-msg" style="display:none; color: #19B8A6; margin: 10px 0; font-size:24px;">Login Success!</p>
        </div>
    </script>
    
    <script type="text/template" id="dashboard-template">
        <div id="dashboard" class="question-nav list-group">
            <a class="list-group-item" href="#label" role="button">Search medication information</a>
            <a class="list-group-item" href="#approved" role="button">Is this medication FDA approved?</a>
            <a class="list-group-item" href="#recall" role="button">Has this medication been recalled?</a>
        </div>
    </script>
    
    <script type="text/template" id="dashboard-intro-template">
    <div class="landing-page col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
        <h1>Welcome to FDA Anywhere</h1>
        <p>Created for your piece of mind, run quick checks on medications you access when traveling outside the U.S. using data compiled on thousands of medicines approved for use in the U.S.</p>
        <p>Complete your medication profile to personalize your experience. <a href="#"><i class="fa fa-info-circle"></i></a></p>
    </div>
    </script>

    <script type="text/template" id="approval-search-default-template">
        <div class="display-module">
            <div class="module-title">What FDA approval means to you:</div>
            <div class="module-content">
                <p>FDA is responsible for protecting the public health by regulating human and animal drugs, biologics (e.g. vaccines and cellular and gene therapies). New drugs and biologics must be proven safe and effective to FDA’s satisfaction before companies can market them. FDA does not develop or test products; FDA experts review the results of laboratory, animal, and human clinical testing done by manufacturers.</p>
                <p>If FDA grants an approval, it means the agency has determined that the benefits of the product outweigh the risks for the intended use.</p>
             </div> 
        </div>
    </script>

    <script type="text/template" id="drug-search-template">
        <div id="drug-search">
            <!-- segmented buttons -->
            <h3>Enter medication by: </h3>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group active" role="group">
                    <button type="button" class="btn fda-search search-brand">Brand</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn fda-search search-generic">Generic</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn fda-search search-ingredient">Active Ingredient</button>
                </div>
            </div>
            <div class="form-group boxed-input">
                <label for="ndc" class="sr-only">medication entry</label>
				
				<input type="text" name="brand-name" placeholder="Brand Name" autocomplete="off" />
				
				<button type="submit" class="search-all"><i class="fa fa-chevron-circle-right"></i></button>
            </div>   
			
			<div id="drug-search-results" style="position:relative;top:-5px;z-index:100;">
                <ul id="count-results-list">
                </ul>
			</div>
			
            <div id="product-results" style="display:none">
                <p><span id="multi_results_text" value=""></span></p>
                <ul id="product-result-list"></ul>
            </div>
        </div>
    </script>
    
    <!-- multiple results li content -->
    <script type="text/template" id="search-product-result">
        <label>Brand:</label> <%- openfda.brand_name %><br />
        <label>Generic:</label> <%- openfda.generic_name %><br />
        <label>Ingredients:</label> <%- openfda.substance_name %>
    </script>
	
	<script type="text/template" id="drug-approved-info">
<div id="approved-results" class="display-module">
			
			<%if (typeof(openfda) !== "undefined") {%>
				<div class="module-title"></div>
			<% } %>
			
            <div class="label-section module-content" id="open-fda-fields">
            
				<%if (typeof(openfda) !== "undefined") { %>
				<h3 class="hasRecall">Yes</h3>
                <% } %>
				<%if (typeof(openfda) == "undefined") { %>
				<h3>No</h3>
                <p>The FDA has not approved this medication.</p>
                <p>Check the spelling of the medication or start a new search.</p>
                <% } %>
                <div class="label-section"  id="open-fda-fields-data">
                    <%if (typeof(openfda) !== "undefined" && typeof(openfda.brand_name) !== "undefined") {%>
                        <div class="form-group"><label>Brand Name:</label> <%- openfda.brand_name %> </div>
                    <%}%>
                    <%if (typeof(openfda) !== "undefined" && typeof(openfda.generic_name) !== "undefined") {%>
                        <div class="form-group"><label>Generic Name:</label> <%- openfda.generic_name %> </div>
                    <%}%>
                    <%if (typeof(openfda) !== "undefined" && typeof(openfda.pharm_class_epc) !== "undefined") {%>
                        <div class="form-group"><label>Class:</label> <%- openfda.pharm_class_epc %> </div>
                    <%}%>
                </div>
            
            </div>
   
   </div> 
   </script>
    
   <script type="text/template" id="drug-label-info">
<div class="display-module">

        <div class="module-title">Drug Label Info For <%- openfda.brand_name %></div>
		<div class="label-results">

			<div class="label-section"  id="warnings">
                <dl>
                <dt>Warnings & Precautions</dt>
                <dd id="warnings-data">
                    <%if (typeof(boxed_warning) !== "undefined") {%>
                        <p><label>Boxed Warning:</label> <%- boxed_warning%> </p>
                    <%}%>
                    <%if (typeof(warnings_and_precautions) !== "undefined") {%>
                        <p><label>Warnings & Precautions:</label> <%- warnings_and_precautions%> </p>
                    <%}%>
                    <%if (typeof(user_safety_warnings) !== "undefined") {%>
                        <p><label>User Safety Warnings:</label> <%- user_safety_warnings%> </p>
                    <%}%>
                    <%if (typeof(precautions) !== "undefined") {%>
                        <p><label>Precautions:</label> <%- precautions%> </p>
                    <%}%>
                    <%if (typeof(warnings) !== "undefined") {%>
                        <p><label>Warnings:</label> <%- warnings%> </p>
                    <%}%>
                    <%if (typeof(general_precautions) !== "undefined") {%>
                        <p><label>General Precautions:</label> <%- general_precautions%> </p>
                    <%}%>
                </dd>
                </dl>
            </div>
			
			<div class="label-section"  id="indications">
                <dl>
                <dt>Indications, Usage & Dose</dt>
                <dd id="indications-data">
                    <%if (typeof(indications_and_usage) !== "undefined") {%>
                        <p><label>Indications & Usage:</label> <%- indications_and_usage%> </p>
                    <%}%>
                    <%if (typeof(contraindications) !== "undefined") {%>
                        <p><label>Contraindications:</label> <%- contraindications%> </p>
                    <%}%>
                    <%if (typeof(dosage_and_administration) !== "undefined") {%>
                        <p><label>Dosage & Administration:</label> <%- dosage_and_administration%> </p>
                    <%}%>
                    <%if (typeof(dosage_forms_and_strengths) !== "undefined") {%>
                        <p><label>Dosage Forms & Strengths:</label> <%- dosage_forms_and_strengths%> </p>
                    <%}%>
                    <%if (typeof(purpose) !== "undefined") {%>
                        <p><label>Purpose:</label> <%- purpose%> </p>
                    <%}%>
                    <%if (typeof(description) !== "undefined") {%>
                        <p><label>Description:</label> <%- description%> </p>
                    <%}%>
                    <%if (typeof(active_ingredient) !== "undefined") {%>
                        <p><label>Active Ingredient:</label> <%- active_ingredient%> </p>
                    <%}%>
                    <%if (typeof(inactive_ingredient) !== "undefined") {%>
                        <p><label>Inactive Ingredient:</label> <%- inactive_ingredient%> </p>
                    <%}%>
                    <%if (typeof(spl_product_data_elements) !== "undefined") {%>
                        <p><label>SPL Product Data Elements:</label> <%- spl_product_data_elements%> </p>
                    <%}%>
                </dd>
                </dl>
            </div>

            <div class="label-section"  id="abuse-and-overdosage">
                <dl>
                <dt>Abuse & Overdosage</dt>
                <dd id="abuse-and-overdosage-data">
                    <%if (typeof(drug_abuse_and_dependence) !== "undefined") {%>
                        <p><label>Drug Abuse and Dependence:</label> <%- drug_abuse_and_dependence%> </p>
                    <%}%>
                    <%if (typeof(controlled_substance) !== "undefined") {%>
                        <p><label>Controlled Substance:</label> <%- controlled_substance%> </p>
                    <%}%>
                    <%if (typeof(abuse) !== "undefined") {%>
                        <p><label>Abuse:</label> <%- abuse%> </p>
                    <%}%>
                    <%if (typeof(dependence) !== "undefined") {%>
                        <p><label>Dependence:</label> <%- dependence%> </p>
                    <%}%>
                    <%if (typeof(overdosage) !== "undefined") {%>
                        <p><label>Overdosage:</label> <%- overdosage%> </p>
                    <%}%>
                </dd>
                </dl>
            </div>

            <div class="label-section"  id="adverse-effects">
                <dl>
                <dt>Adverse Effects & Interactions</dt>
                <dd id="adverse-effects-data">
                    <%if (typeof(adverse_reactions) !== "undefined") {%>
                        <p><label>Adverse Reactions:</label> <%- adverse_reactions%> </p>
                    <%}%>
                    <%if (typeof(drug_interactions) !== "undefined") {%>
                        <p><label>Drug Interactions:</label> <%- drug_interactions%> </p>
                    <%}%>
                    <%if (typeof(drug_and_or_laboratory_test_interactions) !== "undefined") {%>
                        <p><label>Drug/Laboratory Test Interactions:</label> <%- drug_and_or_laboratory_test_interactions%> </p>
                    <%}%>
                </dd>
                </dl>
            </div>


            <div class="label-section"  id="special-populations">
                <dl>
                <dt>Special Populations</dt>
                <dd id="special-populations-data">
                    <%if (typeof(use_in_specific_populations) !== "undefined") {%>
                        <p><label>Use In Specific Populations:</label> <%- use_in_specific_populations%> </p>
                    <%}%>
                    <%if (typeof(pregnancy) !== "undefined") {%>
                        <p><label>Pregnancy:</label> <%- pregnancy%> </p>
                    <%}%>
                    <%if (typeof(teratogenic_effects) !== "undefined") {%>
                        <p><label>Teratogenic Effects:</label> <%- teratogenic_effects%> </p>
                    <%}%>
                    <%if (typeof(nonteratogenic_effects) !== "undefined") {%>
                        <p><label>Non-teratogenic Effects:</label> <%- nonteratogenic_effects%> </p>
                    <%}%>
                    <%if (typeof(labor_and_delivery) !== "undefined") {%>
                        <p><label>Labor & Delivery:</label> <%- labor_and_delivery%> </p>
                    <%}%>
                    <%if (typeof(nursing_mothers) !== "undefined") {%>
                        <p><label>Nursing Mothers:</label> <%- nursing_mothers%> </p>
                    <%}%>
                    <%if (typeof(pregnancy_or_breast_feeding) !== "undefined") {%>
                        <p><label>Pregnancy or Breast Feeding:</label> <%- pregnancy_or_breast_feeding%> </p>
                    <%}%>
                    <%if (typeof(pediatric_use) !== "undefined") {%>
                        <p><label>Pediatric Use:</label> <%- pediatric_use%> </p>
                    <%}%>
                    <%if (typeof(geriatric_use) !== "undefined") {%>
                        <p><label>Geriatric Use:</label> <%- geriatric_use%> </p>
                    <%}%>
                </dd>
                </dl>
            </div>
   
   </div> 
   </script>

        <script type="text/template" id="drug-recall-info">
        
            <div class="display-module">
                <div class="module-title"></div>
                <div class="module-content"  id="recall-results">
                    <%if (typeof(isRecalled) !== "undefined" && isRecalled == true) {%>
                       <h3 class="hasRecall">Yes</h3>
                    <% } %>

                    <%if (typeof(isRecalled) !== "undefined" && isRecalled == false) {%>
                           <h3>No</h3>
                           <p>The FDA has not recalled this medication. </p>
                           <p>Check the spelling of the medication or start a new search.</p>
                    <% } %>

					<%if (typeof(openfda)!== "undefined" && typeof(openfda.brand_name) !== "undefined") {%>
                        <div class="form-group"><label>Brand Name:</label> <%- openfda.brand_name %> </div>
                    <%}%>
					
                    <%if (typeof(openfda)!== "undefined" && typeof(openfda.generic_name) !== "undefined") {%>
                        <div class="form-group"><label>Generic Name:</label> <%- openfda.generic_name %> </div>
                    <%}%>
					
					<%if (typeof(openfda) !== "undefined" && typeof(openfda.pharm_class_epc) !== "undefined") {%>
                        <div class="form-group"><label>Class:</label> <%- openfda.pharm_class_epc %> </div>
                    <%}%>
					
					<%if (typeof(status) !== "undefined" && status.length > 0) {%>
                        <div class="form-group"><label>Status:</label> <%- status %> </div>
                    <%}%>

					<%if (typeof(report_date) !== "undefined") {%>
                        <div class="form-group"><label>Date:</label> <%- report_date %> </div>
                    <%}%>
					
                    <%if (typeof(reason_for_recall) !== "undefined") {%>
                        <div class="form-group"><label>Reason:</label> <%- reason_for_recall %> </div>
                    <%}%>
					
                </div>
            </div>
        </script>
    
    <!--profile template -->
    <script type="text/template" id="edit-profile-template">
        <div class="profile-page col-xs-12 col-sm-offset-2 col-sm-6 col-md-offset-1 col-md-7 clearfix">
            <h1>Create Medication Profile</h1>
            <div class="display-module">
                <div class="module-title">Complete the steps below to personalize your results.</div>
                    <div class="module-content">
                        <div class="form-group">
                            <label for="txtName">Profile name:</label><br>
                            <input type="text" id="txtName" class="form-control" name="name" value="<%- name %>" />
                        </div>
                        <div class="form-group">
                            <label for="ddAge">Your age range:</label>
                            <select id="ddAge" name="age-range" class="form-control">
                                <option value=""></option>
                                <option value="infant">Infant</option>
                                <option value="child">Child</option>
                                <option value="adult">Adult</option>
                                <option value="elderly">Elderly</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ddGender">Your gender:</label>
                            <select id="ddGender" name="gender" class="form-control">
                                <option value=""></option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="txtMeds">Medications you take:</label><br>
                            <input type="text" id="txtMeds" name="meds" class="form-control" value="<%- medications %>" />
                        </div>
                        <div class="form-group">
                            <label for="txtConditions">Medical conditions you have:</label><br>
                            <input type="text" id="txtConditions" name="conditions"  class="form-control" value="<%- conditions %>" />
                        </div>
                        <div class="form-group">
                            <label for="txtAllergies">Allergies you may have:</label><br>
                            <input type="text" id="txtAllergies" name="allergies" class="form-control" value="<%- allergies %>" />
                        </div>
                        <div class="form-group">
                            <button class="btn-teal btn-profile-save">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    
    <script type="text/template" id="list-profiles-template">
        <div class="profile-page col-xs-12 col-sm-offset-2 col-sm-6 col-md-offset-1 col-md-7 clearfix">
            <h1>Manage Medication Profile</h1>
            <div class="display-module">
                <div class="module-title">Click 'Edit Profile' to change your settings<a class="btn-add-profile pull-right" href="#profile"><i class="fa fa-user-plus"></i> Add Profile</a></div>
                <div class="module-content">
                    <dl class="profile-list"></dl>
                </div>
            </div>
        </div>
    </script>
    
    <script type="text/template" id="profile-item-template">
        <dd id="<%- _id %>">
            <div class="form-group">
                <label>Your age range:</label>
                <div><%- ageRange %></div>
            </div>
            <div class="form-group">
                <label>Gender:</label>
                <div><%- gender %></div>
            </div>
            <div class="form-group">
                <label>Medications you take:</label>
                <div><%- medications %></div>
            </div>
            <div class="form-group">
                <label>Medical conditions you may have:</label>
                <div><%- conditions %></div>
            </div>
            <div class="form-group">
                <label>Allergies you may have:</label>
                <div><%- allergies %></div>
            </div>
            <div class="profile-actions clearfix">
                <a href="#" class="btn-wire link-delete" title="Delete Profile"><i class="fa fa-user-times"></i> Delete Profile</a>
                <a href="#" class="btn-teal link-edit pull-right" title="Edit Profile">Edit Profile</a>
            </div>
        </dd>
    </script>
    
    <!-- Main JS File -->
    <script src="./js/app.js"></script>
    <script id="digits-sdk" src="https://cdn.digits.com/1/sdk.js" async></script>
    
    <!-- event trigger for google map api loading -->
    <script type="text/javascript">
        function mapApiLoaded() {
            var event = new Event('map-api-load');
            document.dispatchEvent(event);
        }
        
        //setup digits
        document.getElementById('digits-sdk').onload = function() {
            Digits.init({ consumerKey: '3fRmH8jiHfBH2CPu8ekjxsDXv' });
        }
    </script>
</body>

</html>