/***************
* Variables
****************/
$global-margin: 15px;
$global-padding: 15px;
$fda-yellow: #fdcc4c;
$fda-blue: #0b1b4f;
$fda-green: #3a913f;
$fda-teal: #19b8a6;
$fda-red: #c20430;
$text-black: #333;
$text-grey: #666;

/***************
* Fonts
****************/
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto_Condensed/Roboto-Condensed-webfont.eot');
    src: url('../fonts/Roboto_Condensed/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto_Condensed/Roboto-Condensed-webfont.woff') format('woff'),
         url('../fonts/Roboto_Condensed/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('../fonts/Roboto_Condensed/Roboto-Condensed-webfont.svg#robotoregular') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto_Condensed/Roboto-BoldCondensed-webfont.eot');
    src: url('../fonts/Roboto_Condensed/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto_Condensed/Roboto-BoldCondensed-webfont.woff') format('woff'),
         url('../fonts/Roboto_Condensed/Roboto-BoldCondensed-webfont.ttf') format('truetype'),
         url('../fonts/Roboto_Condensed/Roboto-BoldCondensed-webfont.svg#robotoregular') format('svg');
    font-weight: 700;
    font-style: normal;
}
/*
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
         url('../fonts/fontawesome-webfont.woff') format('woff'),
         url('../fonts/fontawesome-webfontt.ttf') format('truetype'),
         url('../fonts/fontawesome-webfont.svg') format('svg');
}
*/





body {
    font-family: 'RobotoCondensed',Arial, Verdana, sans-serif;
    font-size: 14px;
    background: $fda-blue url(../img/bg-home.jpg) no-repeat center center fixed; 
    /*
    background-image:  url(../img/landing.jpg);
    background-image:  url(../img/recalled.jpg);
    background-image:  url(../img/profile.jpg);
    background-image:  url(../img/home.jpg);
    background-image:  url(../img/approved.jpg);
    background-image:  url(../img/canitakethis.jpg);
    */
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
strong{
    font-weight: 700;
}
section{
    padding: 15px 0;
}

h1 {

    font-size: 34px;
    padding: 10px 0;
    &.welcome{
        font-weight: 400;
    }
}
h3{ 
    margin: 0
}

h4 {
    margin: 0;
    color: #336699;
}

span {
    &.fancy {
        font-style: italic;
    }
}
.debug{
    border: 1px solid #fff !important;
}


#results {
    background: #f2f2f2;
    padding: 15px;
    margin-top: 15px;
}



header {
    .navbar {
        margin: 0;
    }
    .navbar-default{
        background: rgba(255,255,255, 0.20);
        border: 0 none;
        @include border-radius(0);
        .navbar-nav{
        a, a:active, a:visited{
            color: #fff;
            font-size: 32px;
            &.login-link {
                line-height: 62px;
                font-size: 1.5em;
                color: #fff;
                padding: 0 10px;
            }
        }
        .open .dropdown-menu{
            background: #fff;
            li{
                a, a:active, a:visited{
                    color: $text-grey;
                    font-size: 14px;
                    &:hover{
                        background: $fda-yellow;
                    }
                }
            }
        }
        }
    }
    .navbar-brand{
        width: 100%;
        max-width: 250px;
        padding: 0 15px;
        img{
            padding-top: 7px;
        }
    }
    .navbar-header{
        margin: 5px 10px;
    }
    
    .dropdown-menu{
        background: #fff;
        li{
            a, a:active, a:visited{
                color: $text-grey;
                font-size: 14px;
                &:hover{
                    background: $fda-yellow;
                }
            }
        }
    }

    .nav > li{
        display: inline-block;
        a.login-link {
            line-height: 62px;
            color: #fff;
            padding: 0 10px;
        }
    }
}

main {
    padding: 45px 0;
    color: #fff;
}

.footer {
    width: 100%;
    background: $fda-yellow;
    padding: 15px 0;
    margin-top: 30px;
    height: 60px;
    color: #333;
}

input.form-control {
    background: none;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #fff;
    @include border-radius(0);
    color: #fff;
    height: 48px;
    margin: 10px 0;
}

aside{
    padding:  0 0 15px 0;
}

#map-module{
    margin: 15px 0;
    .module-title{
        background: $fda-yellow;
        color: #fff;
        padding: 0 15px;
        line-height: 44px;
    }
    .module-item{
        background: #fff;
    }
    .module-content{
        padding: 15px;
    }
    .map-ph{
        height: 180px; 
        background: #fff;
        border: 1px dashed #333;
        margin-bottom: $global-margin;
    }
    .list-group{
            padding: 0;
    }
    dl{
        color: #333;
    }
    dt{
        font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
        border-top: 1px solid #999;
        padding: 0 $global-padding;
        line-height: 44px;
        background: #fff;
        font-size: 12px;
        font-weight: 400;
        cursor: pointer;
        &:hover{
            background: #ccc;
        }
    }
    dd{
        display:none;
        padding: $global-padding;
        background: #fff;
    }
}
.btn-wire, .btn-cta{
    @extend .btn;
    background: none;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #fff;
    @include border-radius(0);
    color: #fff;
    height: 48px;
    margin: 10px 0;
    &:hover{
        background: $fda-teal;
        color: #fff;
    }

}


.display-module{
    background: #fff;
    color: $text-black;
    .module-title{
        background: $fda-yellow;
        min-height: 44px;
        color: $text-black;
        font-size: 14px;
        line-height: 44px;
        padding: 0 $global-padding;
    }
    .module-content{
        padding: $global-padding;
        dl{
            color: $text-black;
            &.faq{
                dt{
                    font-size: 16px;
                    font-weight: 700;
                }
                dd{
                    color: $text-grey;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: $global-margin;
                    &:hover{
                        background: #ccc;
                    }
                }
            }
        }
    }
}