/***************
* Variables
****************/
$global-margin: 15px;
$fda-yellow: #fdcc4c;
$fda-blue: #0b1b4f;
$fda-teal: #19b8a6;
/***************
* Fonts
****************/
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto_Condensed/Roboto-Condensed-webfont.eot');
    src: url('../fonts/Roboto_Condensed/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto_Condensed/Roboto-Condensed-webfont.woff') format('woff'),
         url('../fonts/Roboto_Condensed/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('../fonts/Roboto_Condensed/Roboto-Condensed-webfont.svg#robotoregular') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto_Condensed/Roboto-BoldCondensed-webfont.eot');
    src: url('../fonts/Roboto_Condensed/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto_Condensed/Roboto-BoldCondensed-webfont.woff') format('woff'),
         url('../fonts/Roboto_Condensed/Roboto-BoldCondensed-webfont.ttf') format('truetype'),
         url('../fonts/Roboto_Condensed/Roboto-BoldCondensed-webfont.svg#robotoregular') format('svg');
    font-weight: 700;
    font-style: normal;
}
/*
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
         url('../fonts/fontawesome-webfont.woff') format('woff'),
         url('../fonts/fontawesome-webfontt.ttf') format('truetype'),
         url('../fonts/fontawesome-webfont.svg') format('svg');
}
*/



input.form-control::-webkit-input-placeholder {
    color: rgba(255,255,255,.5);
}
input.form-control::-moz-placeholder {
    color: rgba(255,255,255,.5);
}
input.form-control:-moz-placeholder {   /* Older versions of Firefox */
    color: rgba(255,255,255,.5);
}
input.form-control:-ms-input-placeholder { 
    color: rgba(255,255,255,.5);
}

body {
    font-family: 'RobotoCondensed',Arial, Verdana, sans-serif;
    font-size: 14px;
    background: $fda-blue  url(../img/bg-home.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
strong{
    font-weight: 700;
}
section{
    padding: 15px 0;

}

h1 {

    font-size: 34px;
    padding: 10px 0;
    &.welcome{
        font-weight: 400;
    }
}

h3 {
    font-size: 14px;
}

h4 {
    margin: 0;
    color: #336699;
}

span {
    font-size: 11px;
    &.fancy {
        font-style: italic;
    }
}
.debug{
    border: 1px solid #fff !important;
}
.full-width{
    width: 100%;
}
.add-margin{
    margin: $global-margin;
}
.add-margin-horiz{
    margin-right: $global-margin;
    margin-left: $global-margin;
}
.add-margin-vertical{
    margin-top: $global-margin;
    margin-bottom: $global-margin;
}
.add-margin-top{
    margin-top: $global-margin;
}
.add-margin-bottom{
    margin-bottom: $global-margin;
}
.add-margin-right{
    margin-right: $global-margin;
}
.add-margin-left{
    margin-left: $global-margin;
}

#results {
    background: #f2f2f2;
    padding: 15px;
    margin-top: 15px;
}

header {
    background: #fff;
    .navbar {
        margin: 0;
    }
    .navbar-brand *{

        font-family: 'RobotoCondensed',Arial, Verdana, sans-serif;
        color: #333 !important
    }
}

main {
    padding: 45px 0;
    color: #fff;
}

.footer {
    width: 100%;
    background: $fda-yellow;
    padding: 15px 0;
    margin-top: 30px;
    height: 60px;
    color: #333;
}

input.form-control {
    background: none;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #fff;
    @include border-radius(0);
    color: #fff;
    height: 48px;
    margin: 10px 0;
}

aside{
    padding:  0 0 15px 0;
}

.map-module{
    margin: 15px 0;
    .module-title{
        background: $fda-yellow;
        color: #fff;
        padding: 0 15px;
        line-height: 44px;
    }
    .module-item{
        background: #fff;
    }
    .module-content{
        padding: 15px;
    }
    .map-ph{
        height: 180px; 
        background: #fff;
        border: 1px dashed #333;
        text-align: center;
        color: #003366;
        line-height: 180px;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .list-group{
            padding: 0;
    }
    dl{
        color: #333;
    }
    dt{
        font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
        border-top: 1px solid #999;
        padding: 0 15px;
        line-height: 44px;
        background: #fff;
        font-size: 12px;
        font-weight: 400;
        cursor: pointer;
    }
    dd{
        display:none;
        padding: 15px;
        background: #fff;
    }
}
.btn-wire{
    @extend .btn;
    background: none;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #fff;
    @include border-radius(0);
    color: #fff;
    height: 48px;
    margin: 10px 0;
    &:hover{
        background: rgba(255, 255, 255, 0.25);
        color: #fff;
    }

}
.btn-cta{
    display: block;
    border: 0 none;
    text-align: left;
    background: $fda-teal;
    @include border-radius(0);
    color: #fff;
    padding: 5px 45px 5px 15px;
    font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
    min-height: 32px;
    font-weight: 500;
}
.label-results{
    dl{
        background: #fff;
        border-style:solid;
        border-color: #333;
        border-width: 1px 1px 0 1px;
        margin: 0;
        color: #333;
        dt{
            font-size: 24px;
            font-weight: 400;
            color: #333;
            padding: 15px;
        }
        dd{
            color: #333;
            padding: 15px;
            display:none;
        }
    }
}