/****************
*  Landing Page
****************/
.landing-page{
    margin-bottom: 30px;
    h1{
        font-size: 34px;  
        font-weight: 700;  
    }
    p{
        font-size: 24px;
        font-weight: 400;
        margin-bottom: $global-margin;
    }
    ul{
        list-style-type:disc; 
        margin: 0 0 $global-margin $global-margin;
        li{margin-left: $global-margin;
            font-size: 16px;
            line-height: 175%
        }
    }
    .landing-actions{
        margin-top: 30px;
        a{
            display: inline-block;
            margin: 0 45px 30px 0;
            color: #fff;
            font-weight: 700;
            font-size: 24px;
            &:after{
                content: '\f0a9';
               font-family: 'FontAwesome';
               font-weight: normal;
               font-style: normal;
               margin:0px 0px 0px 10px;
               text-decoration:none;
            }
            &:hover{
                color: $fda-teal;
                text-decoration: none;
            }
        }
    }
}

/****************
*  Profile Page
****************/
.profile-page{
    input.form-control{
        border: 1px solid #ccc;
        color: $text-black;
        @include border-radius(4px);
        height: 36px;
    }
    .module-title{
    }
}
.profile-list{
    color: $text-black;
    dt{ 
        line-height: 44px;
        border-bottom: 1px solid $text-black;
        border-top: 1px solid $text-black;
        font-weight: 700;
        padding: 0 $global-padding;
        cursor: pointer;
        display:block;
        position:relative;
        &:hover{
            background: #ccc;
        }
        &:after{
            content: '\f078';
            font-family: 'FontAwesome';
            font-weight: normal;
            font-style: normal;
            text-decoration:none;
            position: absolute;
            right: 15px;
            top: 0;
        }
        &.collapsed{
            &+ dd{
                    display: none;
            }
        }
    }

    dd{
        padding: $global-padding;
        fieldset{
            margin-bottom: 5px;
            font-weight: 400;
            label{
                font-weight: 700;
            }
        }
    }   
}




/****************
*  label results 
****************/
.label-results{
    dl{
        background: #fff;
        margin: 0;
        color: $text-black;
        border-bottom: 1px solid $text-grey;
        dt{
            position: relative;
            font-size: 16px;
            font-weight: 400;
            min-height:44px;
            line-height:44px;
            padding: 0 $global-padding;
            cursor:pointer;
            a.flag{
                margin: 0 15px 0 0;
                float: right;
                font-size: 21px;
                &.warning{
                    color: #c00;
                }
                &.info{
                    color: $fda-teal;
                    margin-right: 30px;
                }
            }
            &:after{
                content:"\f106";
                font-family: "FontAwesome";
                position: absolute;
                right: 15px;
                font-weight: normal;
            }
            &.expanded{
                &:after{
                    content:"\f107";
                }
            }
        }
        dd{
            padding: $global-padding;
            display:none;
        }
    }
}

/****************
*  Drug Search
****************/
#drug-search {
    padding-bottom: 30px;
    h3{font-size:18px;margin-bottom: 5px;}
    .btn-group {
        .btn {
            @include border-radius(0);
            background: none;
            border: 1px solid #fff;
            font-size: 12px;
            &:hover {
                background: rgba(255, 255, 255, 0.25);
                color: #fff;
            }
        }
        &.active {
            .btn {
                background: $fda-teal;
                color: #fff;
                cursor: default;
            }
        }
    }
    #drug-search-results {
        background-color:#fff;
        margin-top: -15px;
        #count-results-list {
            color:$text-grey;
            .result-item {
                padding: 5px 10px;
                cursor: pointer;
            }
            .result-item:hover {
                background-color: $fda-yellow;
            }
        }
    }
}

#product-result-list{
    li{
        background: none;;
        color: #fff;
        margin-bottom: 5px;
        padding: 5px 15px;
        border: 1px solid #fff;
        label{
            font-weight: bold;
        }
        &:hover{
            background: $fda-teal;
            color: #fff;
            cursor: pointer;
        }

    }
}


#dashboard{
    &.question-nav{
        padding: 0 15px 15px 15px;
        .list-group-item{
            text-align: left;
            margin-bottom: 15px;
            font-size: 18px;
            background:none;
            color: #fff;
            border: 1px solid #fff;
            padding: 15px;
            @include border-radius(0);
            &:hover{
                background: $fda-teal;
                color: #fff;
                &:after {
                  content: "\f138"; 
                  font-family: FontAwesome;
                  font-style: normal;
                  font-weight: normal;
                  text-decoration: inherit;
                  position: absolute;
                  font-size: 24px;
                  color: #fff;
                  top: 12px;
                  right: 15px;
                  margin: 0;
                  z-index: 1;
                }
            }
        }
    }
    
}

#drug-detail{
    #drug-overview{
        margin: 0;
        padding: 0;
        list-style: none;
        border: 1px solid #fff;
        li{
            min-height: 60px;
            display:block;
            border-bottom: 1px solid #fff;
            padding: 10px 15px;
            font-size: 24px;
            font-weight: bold;
            &:last-child{
                border-bottom: 0 none #fff;
            }
        }
    }
}
/****************
*  Drug Search
****************/
.side-effects{
    table{border-spacing: 0; border-collapse: collapse; width: 100%;border:0 none;}
        tr{}
        th{text-align: center;}
        .cir{
            display:inline-block;
            cursor: help;
            height: 100%;
            margin: 0 auto;
            vertical-align: middle;
            color:$text-black;
            
            -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
            transition: width 2s, height 2s, transform 2s;
            @include border-radius(50%);
            transform: scale(1.0);
            &:hover { 
                text-decoration:none;
                 -moz-transition: none;
                -webkit-transition: none;
                -o-transition: color 0 ease-in;
                transition: none;
            }
        }
        .fade-in {
            opacity:0;  /* make things invisible upon start */
            -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
            -moz-animation:fadeIn ease-in 1;
            animation:fadeIn ease-in 1;

            -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
            -moz-animation-fill-mode:forwards;
            animation-fill-mode:forwards;

            -webkit-animation-duration:1s;
            -moz-animation-duration:1s;
            animation-duration:1s;
            $anim-slug: animDelay !default;
            @for $i from 1 through 20{
              &.#{$anim-slug}#{$i*1}{
                animation-delay: 0.3s * $i;
                }
            }

        }



        td{vertical-align: middle;text-align: center;height: 100px;
            &:not(.collection-label){
                background-image: url(../img/dash.png);
                background-repeat: repeat-x;
                background-position:  0 50%;
            }
            a{
                outline: 0;
            }
            &.death{
                .cir{
                    background: rgba(0, 0, 0,.80);
                    color: #fff;
                }
                .popover-title {
                    color: #fff;
                    background: $text-black;
                }
            }

            &.threat{
                .cir{
                    background: rgba(58,145,63,.80);
                }
                .popover-title {
                    color: #fff !important;
                    background: $fda-green;
                }
            }
            &.disabling{
                .cir{
                    background: rgba(25,184,166,.80);
                }
                .popover-title {
                    color: #fff;
                    background: $fda-teal;
                }    
            }
            &.hospitilization{
                .cir{
                    background: rgba(255,203,75,.80);
                }
                .popover-title {
                    background: $fda-yellow;
                }    
            }

        }
        
    .popover-title {
        font-size: 15px;
    }
    .popover-content {
        color: $text-grey;
        font-size: 14px;
    }
}


// Animations
@-webkit-keyframes fadeIn { from { opacity:0;-webkit-transform: scale(0.5)} to { opacity:1; -webkit-transform: scale(1.0)} }
@-moz-keyframes fadeIn { from { opacity:0; -moz-transform: scale(0.5)} to { opacity:1; -moz-transform: scale(1.0)} }
@keyframes fadeIn { from { opacity:0; transform: scale(0.5)} to { opacity:1; transform: scale(1.0)} }

