/****************
*  Landing Page
****************/
.landing-page{
    margin-bottom: 120px;
    h1{
        font-size: 32px;  
        font-weight: 700;  
    }
    p{
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .landing-actions{
        a{
            display: inline-block;
            margin: 0 45px 30px 0;
            color: #fff;
            font-weight: 700;
            font-size: 24px;
            &:after{
                content: '\f0a9';
               font-family: 'FontAwesome';
               font-weight: normal;
               font-style: normal;
               margin:0px 0px 0px 10px;
               text-decoration:none;
            }
            &:hover{
                color: $fda-teal;
                text-decoration: none;
            }
        }
    }
}

/****************
*  Profile Page
****************/
.profile-list{
    color: $text-black;
    dt{ line-height: 44px;
        border-bottom: 1px solid $text-black;
        border-top: 1px solid $text-black;
        font-weight: 700;
        padding: 0 $global-padding;
        cursor: pointer;
        display:block;
        position:relative;
        &:after{
            content: '\f078';
            font-family: 'FontAwesome';
            font-weight: normal;
            font-style: normal;
            text-decoration:none;
            position: absolute;
            right: 15px;
            top: 0;
        }
        &.collapsed{
            &+ dd{
                    display: none;
            }
        }
    }

    dd{
        padding: $global-padding;
        fieldset{
            margin-bottom: 5px;
            font-weight: 400;
            label{
                font-weight: 700;
            }
        }
    }   
}

/****************
*  recall page
****************/

#recall-results{
    h3{
        color: $fda-red;
        font-size: 24px;
        font-weight: 700;
        margin:0 0 10px 0;
        &.hasRecall{
            color: $fda-green !important;
        }
    }
    fieldset{
        display:block;
        margin-bottom: 5px;
    }
}



/****************
*  label results 
****************/
.label-results{
    dl{
        background: #fff;
        margin: 0;
        color: $text-black;
        border-bottom: 1px solid $text-grey;
        dt{
            font-size: 16px;
            font-weight: 400;
            min-height:44px;
            line-height:44px;
            padding: 0 $global-padding;
            cursor:pointer;
        }
        dd{
            padding: $global-padding;
            display:none;
        }
    }
}

/****************
*  Drug Search
****************/
#drug-search {
    padding-bottom: 30px;
    h3{font-size:18px;margin-bottom: 5px;}
    .btn-group {
        .btn {
            @include border-radius(0);
            background: none;
            border: 1px solid #fff;
            font-size: 12px;
            &:hover {
                background: rgba(255, 255, 255, 0.25);
                color: #fff;
            }
        }
        &.active {
            .btn {
                background: $fda-teal;
                color: #fff;
                cursor: default;
            }
        }
    }
    #drug-search-results {
        background-color:#fff;
        margin-top: -15px;
        #count-results-list {
            color:$text-grey;
            .result-item {
                padding: 5px 10px;
                cursor: pointer;
            }
            .result-item:hover {
                background-color: $fda-yellow;
            }
        }
    }
}

#product-result-list{
    li{
        background: rgba(255, 255, 255, 0.25);
        color: #fff;
        border: 1px solid #fff;
        margin-bottom: 5px;
        padding: 5px 15px;
        label{
            font-weight: bold;
        }
        &:hover{
            background: $fda-teal;
            color: #fff;
            cursor: pointer;
        }

    }
}


#dashboard{
    &.question-nav{
        padding: 0 15px 15px 15px;
        .list-group-item{
            text-align: left;
            margin-bottom: 15px;
            font-size: 18px;
            background:none;
            color: #fff;
            border: 1px solid #fff;
            padding: 15px;
            @include border-radius(0);
            &:hover{
                background: $fda-teal;
                color: #fff;
                &:after {
                  content: "\f138"; 
                  font-family: FontAwesome;
                  font-style: normal;
                  font-weight: normal;
                  text-decoration: inherit;
                  position: absolute;
                  font-size: 24px;
                  color: #fff;
                  top: 12px;
                  right: 15px;
                  margin: 0;
                  z-index: 1;
                }
            }
        }
    }
    
}

#drug-detail{
    #drug-overview{
        margin: 0;
        padding: 0;
        list-style: none;
        border: 1px solid #fff;
        li{
            min-height: 60px;
            display:block;
            border-bottom: 1px solid #fff;
            padding: 10px 15px;
            font-size: 24px;
            font-weight: bold;
            &:last-child{
                border-bottom: 0 none #fff;
            }
        }
    }
}