#drug-search {
    padding-bottom: 30px;
    #info-list-panel {
        border: 1px solid #fff;
        padding: 15px;
        min-height: 450px;
    }
    .btn-group {
        .btn {
            @include border-radius(0);
            background: none;
            border: 1px solid #fff;
            font-size: 12px;
            &:hover {
                background: rgba(255, 255, 255, 0.25);
                color: #fff;
            }
        }
        &.active {
            .btn {
                background: #fff;
                color: #ff9900;
                &:hover {
                    background: #fff;
                    color: #ff9900;
                }
            }
        }
    }
}

#dashboard{
    .intro{
        margin-bottom: 30px;
        font-size: 16px;
    }
    .question-nav{
        padding: 0 15px 15px 15px;
        .list-group-item{
            margin-bottom: 15px;
            @include border-radius(8px);
            font-size: 24px;
            font-weight: bold;
            background:none;
            color: #fff;
            border: 1px solid #fff;
            padding: 20px 15px;
            &:hover{
                background: rgba(255, 255, 255, 0.25);
                color: #fff;
            }
        }
    }
    
}

#drug-detail{
    #drug-overview{
        margin: 0;
        padding: 0;
        list-style: none;
        border: 1px solid #fff;
        li{
            min-height: 60px;
            display:block;
            border-bottom: 1px solid #fff;
            padding: 10px 15px;
            font-size: 24px;
            font-weight: bold;
            &:last-child{
                border-bottom: 0 none #fff;
            }
        }
    }
}